/**
 These are base styles used for the Vue Workshop, generally most of these would
 be stored in their respective component's <style> block.
**/

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  height: 100vh;
}

.sports-field {
  width: 100%;
  max-width: 400px;
  margin: auto auto 20px auto;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05);
}

.soccer-goal {
  width: 300px;
  margin: 0 auto;
  display: block;
}

.soccer-ball {
  width: 100px;
  transition: transform 0.2s ease-out;
  cursor: pointer;
}

.soccer-ball.score {
  transform: translate(97px, -136px) scale(0.6) rotate(180deg);
}

.soccer-ball.miss {
  transform: translate(-17px, -175px) scale(0.2) rotate(-180deg);
}

.soccer-ball.reset {
  visibility: hidden;
}
